nb*.xml

*.bist
*.dia~

target/
workspace/

# build residue
cached-poms.txt
checked-sums.txt
sums-check.txt
coverage.zip
hoot-secret*

pom.xml.versionsBackup
.m2/repo-temp/

libs-hoot/src/main/java/
libs-samples/src/main/java/
libs-smalltalk/src/main/java/
sample-code/src/main/java/

hs_err*.log
